<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDToLltOv4K5ZwNhtmCzTEE3nBjA2L1CfM</string>
	<key>GCM_SENDER_ID</key>
	<string>130455241774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.izisoluciones.kiosco.iziKiosco</string>
	<key>PROJECT_ID</key>
	<string>izi-kiosk-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>izi-kiosk-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130455241774:ios:309e613654727dc354cbbf</string>
</dict>
</plist>